<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>录制/拍照</string>
		<key>functionList</key>
		<array>
			<string>正方形方式</string>
			<string>全屏方式</string>
			<string>全屏、正方形（自由切换）</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>视频编辑</string>
		<key>functionList</key>
		<array>
			<string>无相册选择，进入编辑</string>
			<string>从相册选择后进入编辑</string>
			<string>草稿箱</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>照片电影示例</string>
		<key>functionList</key>
		<array>
			<string>API实现（仿Quik）</string>
			<string>AE模板</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>创意搞怪小视频</string>
		<key>functionList</key>
		<array>
			<string>API实现</string>
			<string>AE模板（简影）</string>
			<string>字说</string>
			<string>字说（自绘）</string>
			<string>字说（文字视频）</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>多格示例</string>
		<key>functionList</key>
		<array>
			<string>多格视频</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>短视频（由视频编辑配置而成）</string>
		<key>functionList</key>
		<array>
			<string>15秒短视频</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>相册</string>
		<key>functionList</key>
		<array>
			<string>视频+图片</string>
			<string>仅视频</string>
			<string>仅图片</string>
			<string>导出视频中的音频</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>小功能</string>
		<key>functionList</key>
		<array>
			<string>转码</string>
			<string>倒放</string>
			<string>裁剪</string>
			<string>截取</string>
			<string>压缩</string>
			<string>转场</string>
			<string>调色</string>
			<string>变速</string>
			<string>变声</string>
			<string>配音</string>
			<string>片段编辑</string>
			<string>封面</string>
			<string>字幕</string>
			<string>贴纸</string>
			<string>滤镜</string>
			<string>特效</string>
			<string>去水印</string>
			<string>画中画</string>
			<string>涂鸦</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>音效示例</string>
		<key>functionList</key>
		<array>
			<string>音效处理</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>不规则四边形示例</string>
		<key>functionList</key>
		<array>
			<string>不规则四边形（视频+图片）</string>
			<string>不规则四边形（图片）</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>异形示例（mask）</string>
		<key>functionList</key>
		<array>
			<string>编辑</string>
		</array>
	</dict>
</array>
</plist>
