<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>100</integer>
		<key>name</key>
		<string>蹦迪</string>
		<key>folderName</key>
		<string>bengdi</string>
		<key>updatetime</key>
		<string>1560680296</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>101</integer>
		<key>name</key>
		<string>嘻嘻嘻</string>
		<key>folderName</key>
		<string>xixixi</string>
        <key>updatetime</key>
        <string>1560680296</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>102</integer>
		<key>name</key>
		<string>浪漫</string>
		<key>folderName</key>
		<string>langman</string>
        <key>updatetime</key>
        <string>1560680296</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>103</integer>
		<key>name</key>
		<string>全家福</string>
		<key>folderName</key>
		<string>quanjiafu</string>
        <key>updatetime</key>
        <string>1560680296</string>
	</dict>
</array>
</plist>
